h3{
    color:navy;
    background-color: white;
    font-size: 50px;
}





.b_shadow{
    box-shadow: 4px 6px 8px red;
}

.d_shadow1{
   filter:drop-shadow(4px 6px 8px black);
   width: 250px;
}
.d_shadow2{
   filter:drop-shadow(7px 6px 7px gold);
   width: 250px;
}





.tb_g{
    background-color: yellow;
}
#t_size{
    font-size: 80px;
}

#t_color{
     color: green;
}
.t_shadow{
    text-shadow: 5px 5px 7px red;
}

.f_family1{
    font-family: sans-serif;
}
.f_family2{
    font-family: fantasy;
}
.f_family3{
    font-family: cursive;
}




img{
    width: 300px;
}
.border_img1{
    border: 4px solid purple;
    border-radius: 20px ;
    border-color: grey black grey black;
}
.border_img2{
    border: 4px double blue;
     border-radius: 20px 100px 20px 100px ;
}
.border_img3{
    border: 4px dashed green;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius:20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 40px;
}
.border_img4{
    border: 4px outset yellowgreen;
     border-radius: 20px 80px 120px 200px;
}





.box_model1{
    border: 40px solid red;
    padding: 20px;
    margin: 40px;
}
.border_img1{
     border: 4px solid purple;
     filter: drop-shadow(5px 5px 5px grey);
     padding: 20px;
     margin:50px 240px 50px 240px;
}
.box_model2{
    border: 15px solid orange;
    padding: 50px 30px 50px 30px;
    margin: 20px 40px 20px 40px;
}
.box_model3{
    border: 3px double black ;
    padding:10px 50px 10px 50px ;
    margin: 20px 20px 20px 20px;

}
.linear1{
    height: 400px;
    background:linear-gradient(orange, white, green);
}
.heading1{
    font-size: 100px;
    text-align: center;
    padding-top: 150px;
    color: blue;
}
.radial{
    height: 600px;
    background: radial-gradient(white, silver, grey, black);
}
.conlc{
    height: 600px;
    background: conic-gradient(from 90deg,violet,indigo,blue,orange,red);
}
.heading2{
       font-size: 100px;
    text-align: center;
    padding-top: 150px;
    color: black;
}



.box{
    width: 200px;
    height: 100px;
    background-color: orange;
    border: 4px solid red;
    text-align: center;
    margin-bottom: 10px;
}
.box1{
    position: static;
}
.box2{
    position: relative;
    left: 300px;
    top: 20px;
}
.box3{
    position: absolute;
     left: 300px;
    top: 20px;
}
.box4{
    position: sticky;
    top: 10px;
}
.box5{
    position: fixed;
    bottom: 0px;
    right: 10px;
}
.hall{
    position: relative;
    width: 700px;
    height: 500px;
    top: 10px;
    left: 150px;
    background-color: black;
}
#tv{
    position: absolute;
    width: 150px;
    height: 30px;
    top: 10px;
    left: 250px;
    background-color: aquamarine;
}
#sofa{
        position: absolute;
    width: 250px;
    height: 30px;
    top: 100px;
    left: 80px;
    background-color: violet;
}
#fridge{
        position: absolute;
    width: 50px;
    height: 100px;
   bottom: 0px;
    left: 00px;
    background-color: green;
}